.tabs-one {
    padding: 100px 0;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    justify-content: space-between;
}

.tabs-header {
    /* width: 130px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 15px;
    /* align-items: center; */
}

.tabs-item {
  
width: 110px;
height: 110px;
background-color: #333333;
padding: 45px 35px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 15x;
text-transform: uppercase;
color: #FFFFFF;
border-radius: 4px;
cursor: pointer;
margin-bottom: 10px;
}

.tabs-item:nth-child(3) {
    margin-bottom: 0px;
}

.tabs-item.active {
    background-color: #EC7979;
}

.tabs-content {
    margin: 0 15px;
}

.tabs-content__item {
    display: flex;
    width: 950px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 15px;
}

.left-contant {
    width: 572px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 0.3s;
}

.tabs-content__item-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
}

.tabs-content__item-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #86878B;
}

.btn-tabs {
    width: 135px;
    background-color: #EC7979;
    padding: 11px 24px 11px 28px;
    cursor: pointer;
}

.btn-tabs a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.btn-tabs:hover {
    transform: skew(5deg);
    box-shadow: 0 0 15px 2px rgba(236, 121, 121, 0.75);
    border-radius: 8px;
    transition-duration: 0.3s;
}


.right-contant {
    width: 340px;
}

.contant-img img {
    width: 320px;
    height: 253px;
    display: flex;
    justify-content: right;
  }